beautifulsoup4
click
codespell
datasette-edit-templates
datasette-publish-vercel
Markdown
Mastodon.py
pelican
pelican-feed-filter
pelican-series
pelican-simple-footnotes
pelican-sitemap
pelican-to-sqlite
pip-tools
pre-commit
