<section class="relative h-8">
    <section class="absolute inset-y-0 right-10 w-128">
    <form
    class = "pl-4"
    <
    action="https://search-ryancheley.vercel.app/pelican/article_search?text=name"
    method="get">
            <label for="site-search">Search the site:</label>
            <input class="border-2" type="search" id="site-search" name="text"
                    aria-label="Search through site content">
            <button class="rounded-full w-32 hover:bg-blue-300">Search</button>
    </form>
    </section>
</section>
