<div class="container" role="main">
        <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                <form action="https://search.ryancheley.com/pelican/article_search?text=name"
                method="GET" class="form-main">
                <div>
                        <label class="sr-only" for="search">Search</label>
                        <div class="input-group">
                                <input type="text" class="form-control input-search" name="text" id="site-search" placeholder="Search">
                        </div>
                </div>
                <div>
                        <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                <span class="hidden-sm hidden-xs"> Search </span>
                        </button>
                </div>
        </div>
</div>
