name: Pelican Publish UAT

on:
  push:
    paths:
      - 'content/microblog/**'
  schedule:
    - cron: '13 13 * * *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: deploy code
        uses: appleboy/ssh-action@v1.2.3
        with:
          key: ${{ secrets.SSH_KEY }}
          username: ${{ secrets.SSH_USERNAME }}
          host: ${{ secrets.SSH_HOST_UAT }}

          script: |
            git clone git@github.com:ryancheley/ryancheley.com.git

            source /home/ryancheley/venv/bin/activate

            cp -r ryancheley.com/* /home/ryancheley/

            cd /home/ryancheley

            pip install -r requirements.txt

            pelican content -s publishconf.py -e SITEURL='"https://uat.ryancheley.com"'
            rm -rf ryancheley.com
